#terminal-window {
    background: transparent; 

}

#terminal-window tabbar tab {
    min-width: 200px;
}

#terminal-window headerbar > box > button.popup {
    min-width: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#terminal-window.unified #left-headerbar,
#terminal-window.unified #right-headerbar {
    min-width: 24px;
    box-shadow: none;
    border-width: 0px; 
}

#terminal-window.unified #tab-bar > revealer > box,
#terminal-window.unified #tab-bar tab {
    border-width: 0px; 
}

.tab-button {
    min-width: 30px;
    padding: 0px; 
}

#terminal-window .standard #titlebar-box.titlebar,
#terminal-window .compact #titlebar-box.titlebar {
    padding: 0px;
}