#terminal-window {
    background: transparent; }
        #terminal-window headerbar > box > button.popup {
            min-width: 0px;
            padding-left: 4px;
            padding-right: 4px; }
        #terminal-window.unified #left-titlebar,
        #terminal-window.unified #right-titlebar {
            min-width: 24px;
            box-shadow: none;
            border-width: 0px; }
        #terminal-window.unified #tab-bar {
            box-shadow: none;
            border-width: 0px; }
